* {
    box-sizing: border-box;
}

html, body {
    font-family:var(--font-family); 
    background: linear-gradient(180deg, #ffffff, #e0eafc);
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

.todo {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-size: cover;
    background-image: url("https://www.freedigitalphotos.net/images/img/homepage/87357.jpg");
}



.habilidades {
    padding: 10px;
}

.skills {
    text-align: left;
    padding-left: 10px;
}

.form {
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



@media (min-width: 768px) {
    .todo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenido {
        width: 100%;
        max-width: 1200px;
    }

    footer {
        bottom: 0;
    }

    

    .container-img {
        background-image: url("https://helpx.adobe.com/content/dam/help/en/stock/how-to/tips-stock-image-acceptance/jcr%3Acontent/main-pars/image_733509258/tips-stock-acceptance_1.jpg.img.jpg");
    }
}
