.cuadrado {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
    max-width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 12px 0;
}

form .form {
    margin-bottom: 15px;
    width: 100%;
}

form label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 9px;
    border: 1px solid #ccc;
    padding-left: 15px;
}

.radio-check {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-check legend {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.radio-check label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.botones {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.boton {
    padding: 10px 60px;
    border-radius: 8px;
}

.btm-enviar {
    background-color: aqua;
    border: none;
}

.btm-reset {
    background-color: transparent;
    border: 1px solid aqua;
}

textarea {
    width: 100%;
    height: 150px;
    overflow: auto;
    resize: none;
    margin-top: 15px;
    padding: 10px;
}

.elemento label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.elemento {
    width: 100%;
}

@media (min-width: 768px) {
    .cuadrado {
        padding-top: 10px;
        max-width: 80%;
    }

    form .form {
        margin-bottom: 15px;
        width: calc(100%/2 - 20px);
    }

    form legend {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .respuestas {
        display: flex;
        gap: 30px;
    }

    .radio-check {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .radio-check div {
        display: flex;
        flex-wrap: wrap;
    }
}
