body {
    margin: 0;
}

.header {
    position:sticky;
    padding: 10px;
    opacity: 100;
    border-bottom: 1px solid black ;
    .imagen {
        width: 20%;
        min-width: 100px;
        max-width: 150px;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.lista {
    list-style: none;
    display: flex;
    gap: 10px;
    a {
        text-decoration: none;
        color: black;
    }
}
