*{
	box-sizing: border-box;
}
.video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh; /* El video ocupa el 80% de la altura de la pantalla para evitar que sea demasiado grande */
	overflow: hidden;
	margin-bottom: -186px;
	margin-top: -100px;
}

html, body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(243 244 246);
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

.proyecto-seccion {
	margin-top: 100px;
}
video {
	width: 95%;
	height: 43vh; 
	max-height: 80vh;
	max-width: 100%;
	object-fit: cover; 
}


.grid-container {
	display: grid;
	grid-template-columns: 1fr; 
	gap: 1rem;
	padding: 1rem;
}

.proyecto {
	background-color: #f0f0f0;
	padding: 1rem;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 8px;
	margin-bottom: 25px;
	
}

.utilizados {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.tag {
	padding: 5px;
	border-radius: 5px;
}
.tag-html {
	background-color: orange;
}
.tag-css {
	background-color: blue;
}
.tag-js {
	background-color: yellow;
}

.btn {
	justify-content: center;
	display: flex;
	padding: 0.5rem 1rem; 
	background-color: #60a5fa; 
	margin-right: 0.25rem;
	color: #ffffff; 
	font-weight: 600; 
	border-radius: 0.375rem; 
}

.img-proyecto {
	margin-top: -50px;
	border-radius: 10px;
	width: 80%;
}

.todo{
	display: flex;
	width: 100%;
	flex-direction: column;
	min-height: 100vh
}
@media (min-width: 768px) {
	
	.video-container {
		padding-top: 10px;
		height: auto; 
		
	}

	video {

		width: 70%; 
		height: auto; 
		min-height: 50vh; 
	}

	
	.grid-container {
		grid-template-columns: repeat(3, 1fr); 
	}

	.proyecto {
		font-size: 1.5rem;
	}
	.navegador {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hamburger {
        display: none;
    }

    .lista {
        display: flex;
        margin-top: 0px;
        flex-direction: row;
        gap: 10px;
        margin-left: auto;
    }

    .imagen {
        width: 120px;
        margin-bottom: 10px;
    }
}