.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; /* El video ocupa el 80% de la altura de la pantalla para evitar que sea demasiado grande */
    overflow: hidden;
}
body {
    min-height: 100vh;
}
.proyecto-seccion {
    margin-top: 100px;
}
video {
    width: auto;
    height: 80vh; /* El video se ajusta a ocupar el 80% del alto disponible en móviles */
    max-height: 80vh;
    max-width: 100%;
    object-fit: cover; /* Cubre toda el área sin distorsión */
}
  /* Proyecto grid - Se muestra en una sola columna en móvil */
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Una columna por defecto para móviles */
    gap: 1rem;
    padding: 1rem;
}
.proyecto {
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;
}
.utilizados {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.tag {
    padding: 5px;
    border-radius: 5px;
}
.tag-html {
    background-color: orange;
}
.tag-css {
    background-color: aqua;
}
.tag-js {
    background-color: yellow;
}

.btn {
    justify-content: center;
    display: flex;
    padding: 0.5rem 1rem; /* px-3 py-2 equivalen a 0.5rem 1rem */
    background-color: #60a5fa; /* bg-blue-400 */
    margin-right: 0.25rem; /* mr-1 */
    color: #ffffff; /* text-white */
    font-weight: 600; /* font-semibold */
    border-radius: 0.375rem; /* rounded */
}

.img-proyecto {
    margin-top: -50px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    /* Video en formato horizontal para escritorio */
    .video-container {
      height: auto; /* Ajuste de altura automática para que no ocupe toda la pantalla */
    }

    video {
        width: 80%; /* El video ocupa el 80% del ancho en pantallas grandes para alinearse con el mockup */
        height: 100%; /* Se ajusta la altura automáticamente */
        min-height: 50vh; /* Limitar la altura para que se mantenga la proporción horizontal */
    }

    /* Proyecto grid en múltiples columnas */
    .grid-container {
        grid-template-columns: repeat(3,1fr); /* Tres columnas en pantallas grandes */
    }

    .proyecto {
        font-size: 1.5rem;
    }
}