*{
	box-sizing: border-box;
}
.video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh; 
	overflow: hidden;
	margin-bottom: -43vh; 	 
	padding-bottom: 30vh;
}
.titulo {
	text-align: center;
	margin-bottom: 50px;
	margin-top: -57px;
	font-size: xx-large;
}
html, body {
	font-family: var(--font-family);
    background-color: rgb(243 244 246);
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
.proyecto-seccion {
	margin-top: 100px;
}
video {
	width: 99%;
	height: 62vw; 
	max-height: 80vh;
	max-width: 100%;
	object-fit: cover;
	margin-bottom: 13vh;
	border-radius: 20px;
	animation: fadein 2s ease-in forwards;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr; 
	gap: 1rem;
	padding: 1rem;
}
.proyecto {
	background-color: #e0e0e0;
	padding: 1rem;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 8px;
	margin-bottom: 25px;	
}
.utilizados {
	display: flex;
	justify-content: center;
	gap: 5px;
}
.tag {
	padding: 5px;
	border-radius: 5px;
}
.tag-html {
	background: linear-gradient(90deg, #E34F26 50%, #FFFFFF 50%);
}
.tag-css {
	background: linear-gradient(90deg, #1572B6 50%, #FFFFFF 50%);
}
.tag-js {
	background: linear-gradient(90deg, #F7DF1E 50%, #339933 50%);	
}
.tag-python {
	background: linear-gradient(90deg, #306998 50%, #FFD43B 50%);
}
.tag-gitHub{
	background: linear-gradient(90deg, #F6F8FA 50%, #2D333B 50%);
}
.btn {
	justify-content: center;
	display: flex;
	padding: 0.5rem 1rem; 
	background-color: #60a5fa; 
	margin-right: 0.25rem;
	color: #ffffff; 
	font-weight: 600; 
	border-radius: 0.375rem; 
	text-decoration: none;
}
.img-proyecto {
	margin-top: -50px;
	border-radius: 10px;
	width: 62%;
	height: 32vw;
}
.todo{
	display: flex;
	width: 100%;
	flex-direction: column;
	min-height: 100vh
}
@media (min-width: 768px) {
	
	.video-container {
		padding-top: 10px;
		padding-bottom: 53px;
	}
	.titulo{
		text-align: left;
		margin-left: 30px;
		margin-bottom: 40px;
		margin-top: 0;
		font-family: var(--font-family);
		
	}
	video {
		width: 56%; 
		min-height: 41vh;
		margin-top: -7vh;
		animation: fadein 2s ease-in forwards;
		height: 50vh;
	}
	@keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.img-proyecto{
		border-radius: 10px;
		width: 76%;
		height: 9vw;
	}
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
		gap: 23px;
	}
	.proyecto {
		font-size: 1.5rem;
		width: 100%;
		margin-bottom: 23px;
		background-color:#e0e0e0;
	}
	.navegador {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hamburger {
        display: none;
    }
    .lista {
        display: flex;
        margin-top: 0px;
        flex-direction: row;
        gap: 10px;
        margin-left: auto;
    }
	.btn {
		justify-content: center;
		width: 50%;
		align-items: center;
		margin-left: 12vh;
		text-decoration: none;
	}
    .imagen {
        width: 120px;
        margin-bottom: 10px;
    }
	.proyecto-seccion{
		width: 92%;
		padding-left: 23vh;
		padding-right: 8vh;
		margin-top: 17vh;
	}
}