.habilidades {
    padding: 20px;
    width: 100%;
    margin: auto;
}

.contenedor {
    width: 100%;
    background-color: var(--contenedor-color-skills);
    margin-bottom: 10px;
    height: 20px;
    border-radius: 30px;
}

.skills {
    text-align: right;
    padding-right: 10px;
    height: 100%;
    color: var(--skilss-color);
    font-weight: bold;
}

.html {
    background-color: orange;
    border-radius: 30px;
    animation: barra-html 2s forwards;
}

.css {
    background-color: cornflowerblue;
    animation: barra-css 2s forwards;
    border-radius: 30px;
}

.javascript {
    background-color: orangered;
    animation: barra-javascript 2s forwards;
    border-radius: 30px;
}

.sql {
    background-color: darkblue;
    animation: barra-sql 2s forwards;
    border-radius: 30px;
}

@keyframes barra-html {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes barra-css {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

@keyframes barra-javascript {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@keyframes barra-sql {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .skills-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
